<ion-view view-title="Dashboard">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="padding">
			<div class="white-block">
                <video controls="controls" poster="https://5daystoanewmarriage.com/img/thumb/preview-4_orig_hideaway_usness.jpg" width="100%">
                    <source src="http://s3cds.greyback.net/5daystoanewmarriage/2011May27/h264_orig_hideaway_usness.mp4" type="video/mp4" />
                </video>
                <h2>Watch the Welcome Video</h2>
                <h1>Get Started</h1>
				<p>For many couples the idea of an improved marriage seems too far out of reach to even take the first step.  The reality is that with joint dedication, individual introspection, and bold courage a new marriage could be 5 days away.  The following content begins the road towards a new marriage.
            </div>
            <a ui-sref="menu.tabs.pain" class="button button-block">Continue to Day One</a>	
        </div>
        	
        <div class="padding">
			<div class="white-block">

</p>
                
				<h1>Temporary Links</h1>
				<a ui-sref="login" class="button button-block button-calm">Login</a>
				<a ui-sref="menu.tabs.peace" class="button button-block button-calm">View &amp; Edit my Peace Cycle</a>
				<a ui-sref="menu.tabs.pain" class="button button-block button-calm">View &amp; Edit my Pain Cycle</a>
				<a ui-sref="menu.tabs.4steps" class="button button-block button-calm">View The Four Steps</a>
				<a ui-sref="menu.tabs.growth_quiz" class="button button-block button-calm">View &amp; Edit my Self Care Quiz</a>
				<a ui-sref="menu.tabs.growth_values" class="button button-block button-calm">View &amp; Edit Our Core Values</a>
				<a ui-sref="menu.tabs.growth_vision" class="button button-block button-calm">View &amp; Edit Our Vision</a>
			</div>
		</div>
	</ion-content>
</ion-view>