@font-face {
	font-family: 'Threeleaf';
	src: url('../fonts/ThreeLeafApp.ttf') format('truetype');
}

@font-face {
	font-family: 'LatHelveticaNeueLT-ItalicoRegular';
	src: url('../fonts/HelveticaNeueLT-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'HelveticaNeueLT-Roman';
	src: url('../fonts/HelveticaNeueLT-Roman.ttf') format('truetype');
}

@import "fontawesome/font-awesome.scss";