@font-face {
	font-family: 'Threeleaf';
	src: url('../fonts/ThreeLeafApp.ttf') format('truetype');
}

@font-face {
	font-family: 'LatoRegular';
	src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'LatoItalic';
	src: url('../fonts/Lato-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'LatoBlack';
	src: url('../fonts/Lato-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'LatoBlackItalic';
	src: url('../fonts/Lato-BlackItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'LatoBold';
	src: url('../fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'LatoBoldItalic';
	src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'LatoHairline';
	src: url('../fonts/Lato-Hairline.ttf') format('truetype');
}

@font-face {
	font-family: 'LatoHairlineItalic';
	src: url('../fonts/Lato-HairlineItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'LatoLight';
	src: url('../fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'LatoLightItalic';
	src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
}