<ion-view view-title="Profile">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<h2>
			<i class="ion-gear-b" data-pack="default" data-tags="settings, options, cog"></i>&nbsp;Your Couple’s Profile</h2>
		<a ng-if="!user.User.picture" ui-sref="menu.tabs.photo">
			<img src="img/upload-photo.jpg" alt="Usness" width="100%">
		</a>
		<img ng-if="user.User.picture" ng-src="{{DOMAIN + '/uploads/image_'+user.User.id+'.jpg'}}" width="100%">
		<div class="padding">
			<a ui-sref="menu.tabs.photo" class="button button-block button-calm">Change Photo</a>
			<form name="profileForm" novalidate="" ng-submit="process('menu.tabs.home',profileForm)">
				<div class="list list-inset">
					<h5>Name</h5><span class="profile-name">{{user.User.first_name}} {{user.User.last_name}}</span></div>
				<div class="list list-inset">
					<h5>Spouse's Name</h5>
					<button ng-if="!user.Spouse.id" ui-sref="menu.tabs.link" class="button button-block button-calm">Link to Spouse’s Account</button>
                    <span class="profile-name">{{user.Spouse.first_name}} {{user.Spouse.last_name}}</span>
				</div>
				<!--Needs Validation-->
				<div class="list list-inset">
					<ionic-datepicker input-obj="anniversaryDatePicker" class="item item-input item-icon-right datepicker">
						<div ng-if="user.data.wedding_anniversary">
							{{user.data.wedding_anniversary | date:'MMMM dd, yyyy'}}
						</div>
						<div ng-if="!user.data.wedding_anniversary">
							WEDDING ANNIVERSARY
						</div>
						<i class="icon ion-calendar icon-calm"></i>
					</ionic-datepicker>
				</div>
				<div class="list list-inset">
					<ionic-datepicker input-obj="firstdateDatePicker" class="item item-input item-icon-right datepicker">
						<div ng-if="user.data.first_date_anniversary">
							{{user.data.first_date_anniversary | date:'MMMM dd, yyyy'}}
						</div>
						<div ng-if="!user.data.first_date_anniversary">
							FIRST DATE ANNIVERSARY
						</div>
						<i class="icon ion-calendar icon-calm"></i>
					</ionic-datepicker>
				</div>
				<!--End Needs Validation-->
				<input type="submit" value="NEXT STEP" class="button button-block button-positive" />
			</form>
		</div>
	</ion-content>
</ion-view>