<ion-view view-title="About">
	<ion-content>
        <img src="img/header-image.jpg" class="header-image" width="100%" />
		<div class="padding">
			<h1>Mission</h1>
            <p>MarriageStrong is committed to helping couples develop valuable relationship skills that will not only help their marriages, but also dramatically change the way they interact with others in their families, friendships, places of work, and within the Body of Christ.</p>
			<h1>Scriptural Focus</h1>
            <p>Several places in scripture emphasize the importance of walking in the newness of Christ. Ephesians 4:22-24 states: “You were taught, with regard to your former way of life, to put off your old self, which is being corrupted by its deceitful desires; to be made new in the attitude of your minds; and to put on the new self, created to be like God in true righteousness and holiness.” </p>
			<p>Living out of these truths is often most difficult within our closest relationships. These challenges, however, provide the best opportunity for the deepest growth and transformation in a person's life.  MarriageStrong challenges and equips couples to live out this righteousness and holiness of God within the context of their own marriages and family relationships, the results of which travel far beyond the couple into other family, work, and ministry relationships.  </p>
			<h1>Founder</h1><p> Sharon Hargrave is the Founder and Executive Director of MarriageStrong. In her role as Executive Director for the Boone Center for the Family at Pepperdine University and as a Licensed Marriage and Family Therapist, Sharon speaks nationally and internationally on issues pertaining to couples in ministry, marriage, intergenerational relationships, parenting, and the Restoration Therapy model.</p>
			<p>MarriageStrong has its roots at Fuller Theological Seminary in Pasadena, California.  Sharon is an affiliate faculty member in the school's Marriage and Family Therapy Department, where her husband, Terry Hargrave, Ph.D., is a professor.  Sharon and Terry have been married over 35 years and have two adult married children.</p>
		</div>
	</ion-content>
</ion-view>