<ion-view view-title="Intensives">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="padding">
			<div class="white-block">
				<video controls="controls" poster="img/5_days_video.png" width="100%">
					<source src="https://s3.amazonaws.com/greyback/5_days_app/5_days_app_resource.mp4" type="video/mp4" />
				</video>
				<h2>Watch the Marriage Intensive Video</h2>
				<h1>Intensives</h1>
				<p>The work that is taught through this App is based upon the model (Restoration Therapy) that the Hideaway Experience uses to focus on for four days with 4-5 couples at one of their locations. Some couples just need to go through the <a onclick="window.open('https://5daystoanewmarriage.com/product','_sytem'); return false;" href="#">"5 Days to a New Marriage" book</a>, some might need to be in a Small Group that is studying this material, others may need a licensed therapist to move them along, but others maybe in crisis and need help now. No matter where you are on your journey of marriage ( ok marriage, good but wanting more, or in crisis) the Marriage Intensive can move you through this process with licensed marriage therapists. You will go very deep in understanding your Pain Cycle and how it is sabotaging your ability to grow in your marriage and create your Usness.</p>
				<p>The Marriage Intensive program has a success rate of over 85% of marriages staying together and growing. Research from past guest who attended our Marriage Intensives after two years showed that depression levels had dropped, trustworthiness had risen, and overall marital satisfaction had risen. </p>
				<p>If you and your spouse need further help to get to the bottom of what keeps you from growing and help moving you in to your Peace Cycle, contact us at:</p>
				<p><a href="#" onclick="window.open('http://www.thehideawayexperience.com','_sytem'); return false;" class="button button-block button-calm">www.thehideawayexperience.com</a>
				<p>Your marriage deserves to be all God intended it to be. Contact us today and sign up.</p>
				<p><a href="tel:+18062900055" class="button button-block button-calm">Call today: 806-290-0055</a>
			</div>
		</div>
	</ion-content>
</ion-view>