<ion-view view-title="Pain Cycle">
    <ion-nav-title>
        <img src="img/logo.png" class="title-image" />
    </ion-nav-title>
    <ion-content>
        <div class="padding">
            <div class="white-block">
                <h1><i class="fa fa-refresh"></i> My Pain Cycle</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia metus in enim posuere, non venenatis purus pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                <h2>What I Feel</h2>
                <ul class="clearfix cycles-pain list">
                    <li ng-repeat="pain in painList" class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" name="pain" ng-model="user.data.usness.pains[pain]" ng-change="checkPains(user.data.usness.pains[pain])" ng-disabled="painCount>=3 && !user.data.usness.pains[pain]">
                        </label>{{pain}}
                    </li>
                </ul>
                <h2>What I Normally Do</h2>
                <ul class="clearfix cyclesCopes list">
                    <li ng-repeat="cope in copeList" class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" name="pain" value="TEACHING" ng-model="user.data.usness.copes[cope]" ng-change="checkCopes(user.data.usness.copes[cope])" ng-disabled="copeCount>=3 && !user.data.usness.copes[cope]">
                        </label>{{cope}}
                    </li>
                </ul>
            </div>
            <a ui-sref="menu.tabs.pain_our_results" class="button button-block"><i class="fa fa-refresh"></i> View Your Pain Cycle</a>
        </div>
    </ion-content>
</ion-view>
