<ion-view view-title="Pain Cycle">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="padding">
			<div class="white-block">
				<h1>
					<i class="fa fa-refresh"></i> My Pain Cycle</h1>
				<p>First, identify a recent conflict you have had with your spouse.  Second, look at the “What I Feel” list below.  Choose up to four words that you felt during that conflict.   Next, look at the “What I Normally Do” list.  Choose up to four words from that list that describes how you react when you feel those pains. <em>(Notice in the top right hand corner of the cycles page you may edit the cycle at any time)</em></p>
				<h2>What I Feel</h2>
				<ul class="clearfix list">
					<li ng-repeat="pain in painList" class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" name="pain" ng-model="user.data.usness.pains[pain]" ng-change="checkPains(user.data.usness.pains[pain])" ng-disabled="painCount>=4 && !user.data.usness.pains[pain]">
						</label>{{pain}}</li>
				</ul>
				<h2>What I Normally Do</h2>
				<ul class="clearfix list">
					<li ng-repeat="cope in copeList" class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" name="pain" ng-model="user.data.usness.copes[cope]" ng-change="checkCopes(user.data.usness.copes[cope])" ng-disabled="copeCount>=4 && !user.data.usness.copes[cope]">
						</label>{{cope}}</li>
				</ul>
			</div>
			<a ng-click="process('menu.tabs.pain_my_results','pain_my_cycle')" class="button button-block"><i class="fa fa-refresh"></i> View Your Pain Cycle</a>
		</div>
	</ion-content>
</ion-view>