<!-- Create tabs with an icon and label, using the tabs-positive style. Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">

	<ion-tab title="PAIN" icon="icon threeleaf threeleaf-usness" ui-sref="menu.tabs.pain">
		<ion-nav-view name="tab-pain"></ion-nav-view>
	</ion-tab>

	<ion-tab title="PEACE" icon="icon threeleaf threeleaf-cycles" ui-sref="menu.tabs.peace">
		<ion-nav-view name="tab-peace"></ion-nav-view>
	</ion-tab>
	
	<ion-tab title="4 STEPS" icon="icon threeleaf threeleaf-4steps" ui-sref="menu.tabs.4steps">
		<ion-nav-view name="tab-4steps"></ion-nav-view>
	</ion-tab>
	
	<ion-tab title="TEAMWORK" icon="icon threeleaf threeleaf-quizzes" ui-sref="menu.tabs.teamwork">
		<ion-nav-view name="tab-teamwork"></ion-nav-view>
	</ion-tab>
	
	<ion-tab title="GROWTH" icon="icon threeleaf threeleaf-quizzes" ui-sref="menu.tabs.growth">
		<ion-nav-view name="tab-growth"></ion-nav-view>
	</ion-tab>
	
	<ion-tab title="Static" href="#/tab/static" hidden="true">
		<ion-nav-view name="tab-static"></ion-nav-view>
	</ion-tab>
	
</ion-tabs>