<ion-view view-title="Growth Vision">
    <ion-nav-title>
        <img src="img/logo.png" class="title-image" />
    </ion-nav-title>
    <ion-content>
        <div class="padding">
            <div class="button-bar">
                <a ui-sref="menu.tabs.growth_values" class="button">Values</a>
                <a ui-sref="menu.tabs.growth_vision" class="button">Vision</a>
                <a ui-sref="menu.tabs.growth_quiz" class="button">Quiz</a>
<!--                <a ui-sref="menu.tabs.growth_90days" class="button">90 Days</a>-->
            </div>
            <div class="white-block">
                <h1>Our Vision</h1>
                <p>The Bible tells us, "Where there is no revelation (vision), the people cast off restraint"( Proverbs 29:18 NKJ)</p>
				<p>This scripture also can be stated for our marriage. When we have a vision and know where we want our marriage to go, we unleash a powerful positive process. Vision ignites the passion inside us that fuels the discipline it takes to be successful.</p>
				<p>Take some time to dream with your spouse on what the Lord has called the two of you to in your marriage. Don't be afraid to dream big. We serve a big God and He wants to give you the desire of your hearts.</p>
				<p>In the space below write out the vision the two of you have and write it out and place it where you can alway see it. Don't loose sight of where you both have committed to go.</p>
                <form method="post" ng-submit="process('menu.tabs.growth_quiz','growth_vision')">
					<div class="list list-inset">
						<label class="item item-input item-stacked-label">{{user.User.last_name}} Family Vision
							<textarea rows=8 ng-model="user.data.vision" ng-change="updateTextArea('vision')" id="vision"></textarea>
						</label>
					</div>
				</form>
            </div>
			<a ng-click="process('menu.tabs.growth_quiz','growth_vision')" class="button button-block button-positive">Continue to Self-Care Quiz
				<i class="fa fa-chevron-circle-right"></i>
			</a>
        </div>
    </ion-content>
</ion-view>
