<ion-view view-title="Growth Vision">
    <ion-nav-title>
        <img src="img/logo.png" class="title-image" />
    </ion-nav-title>
    <ion-content>
        <div class="padding">
            <div class="button-bar">
                <a ui-sref="menu.tabs.growth_values" class="button">Values</a>
                <a ui-sref="menu.tabs.growth_vision" class="button">Vision</a>
                <a ui-sref="menu.tabs.growth_quiz" class="button">Quiz</a>
<!--                <a ui-sref="menu.tabs.growth_90days" class="button">90 Days</a>-->
            </div>
            <div class="white-block">
                <h1>Our Vision</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia metus in enim posuere, non venenatis purus pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                <p>Freedom</p>
                <p>Respect</p>
                <p>Learning</p>
                <p>Intimacy</p>
            </div>
            <a ui-sref="menu.tabs.growth_quiz" class="button button-block">Continue to Self-Care Quiz <i class="fa fa-chevron-circle-right"></i></a>

        </div>
    </ion-content>
</ion-view>
