<ion-view view-title="Growth">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div id="growth-home" class="padding">
			<div class="white-block">
				<video controls="controls" poster="img/5_days_video.png" width="100%">
					<source src="https://s3.amazonaws.com/greyback/5_days_app/5_days_app_day5.mp4" type="video/mp4" />
				</video>
				<h2>Watch the Vision Introduction</h2>
				<h1>Day Five</h1>
				<p>Now that the roots to a new marriage have been planted, it is time to cast vision.  Vision for the future.  Vision for your marriage.  Vision guided by self-care.  New marriages require individuals to cultivate healthy mental, physical, emotional, and spiritual habits.  The way towards this health is known as Self-Care.  Use the tools below to foster intentional Self-Care for you and your marriage.   </p>
			</div>
			<div class="button-bar">
				<a ui-sref="menu.tabs.growth_values" class="button">Values</a>
				<a ui-sref="menu.tabs.growth_vision" class="button">Vision</a>
				<a ui-sref="menu.tabs.growth_quiz" class="button">Quiz</a>
<!--				<a ui-sref="menu.tabs.growth_90days" class="button">90 Days</a>-->
			</div>
		</div>
	</ion-content>
</ion-view>