<?xml version='1.0' encoding='utf-8' ?>
<widget id="net.greyback.5days" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>New Marriage</name>
	<description>5 Days to a New Marriage</description>
	<author email="info@greyback.net" href="http://greyback.net/">GreyBack Labs, LLP</author>
	<content src="index.html" />
	<access origin="*" />
	<preference name="permissions" value="none" />
	<preference name="orientation" value="default" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="true" />
	<preference name="prerendered-icon" value="true" />
	<preference name="stay-in-webview" value="false" />
	<preference name="ios-statusbarstyle" value="black-opaque" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen" value="false" />
	<preference name="disable-cursor" value="false" />
	<preference name="android-minSdkVersion" value="7" />
	<preference name="android-installLocation" value="auto" />
	<gap:plugin name="org.apache.cordova.battery-status" />
	<gap:plugin name="org.apache.cordova.camera" />
	<gap:plugin name="org.apache.cordova.media-capture" />
	<gap:plugin name="org.apache.cordova.console" />
	<gap:plugin name="org.apache.cordova.contacts" />
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.device-motion" />
	<gap:plugin name="org.apache.cordova.device-orientation" />
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="org.apache.cordova.file" />
	<gap:plugin name="org.apache.cordova.file-transfer" />
	<gap:plugin name="org.apache.cordova.geolocation" />
	<gap:plugin name="org.apache.cordova.globalization" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="org.apache.cordova.media" />
	<gap:plugin name="org.apache.cordova.network-information" />
	<gap:plugin name="org.apache.cordova.splashscreen" />
	<gap:plugin name="org.apache.cordova.vibration" />
	<gap:plugin name="com.ionic.keyboard" version="1.0.2" />
	<gap:plugin name="nl.kingsquare.background-audio" version="1.0.0" />
	<gap:plugin name="nl.x-services.plugins.socialsharing" source="plugins.cordova.io" />
	<gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
	<gap:plugin name="com.ionic.deploy" version="0.1.6" />
	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true" />
	</feature>
	<gap:splash src="splash.png" />
	<icon src="icon.png" />
	<icon gap:platform="ios" src="resources/ios/icon/icon.png" width="57" height="57" />
	<icon gap:platform="ios" src="resources/ios/icon/icon@2x.png" width="114" height="114" />
	<icon gap:platform="ios" src="resources/ios/icon/icon-40.png" width="40" height="40" />
	<icon gap:platform="ios" src="resources/ios/icon/icon-40@2x.png" width="80" height="80" />
	<icon gap:platform="ios" src="resources/ios/icon/icon-50.png" width="50" height="50" />
	<icon gap:platform="ios" src="resources/ios/icon/icon-50@2x.png" width="100" height="100" />
	<icon gap:platform="ios" src="resources/ios/icon/icon-60.png" width="60" height="60" />
	<icon gap:platform="ios" src="resources/ios/icon/icon-60@2x.png" width="120" height="120" />
	<icon gap:platform="ios" src="resources/ios/icon/icon-60@3x.png" width="180" height="180" />
	<icon gap:platform="ios" src="resources/ios/icon/icon-72.png" width="72" height="72" />
	<icon gap:platform="ios" src="resources/ios/icon/icon-72@2x.png" width="144" height="144" />
	<icon gap:platform="ios" src="resources/ios/icon/icon-76.png" width="76" height="76" />
	<icon gap:platform="ios" src="resources/ios/icon/icon-76@2x.png" width="152" height="152" />
	<icon gap:platform="ios" src="resources/ios/icon/icon-small.png" width="29" height="29" />
	<icon gap:platform="ios" src="resources/ios/icon/icon-small@2x.png" width="58" height="58" />
	<icon gap:platform="ios" src="resources/ios/icon/icon-small@3x.png" width="87" height="87" />
	<gap:splash gap:platform="ios" src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" height="1136" />
	<gap:splash gap:platform="ios" src="resources/ios/splash/Default-667h.png" width="750" height="1334" />
	<gap:splash gap:platform="ios" src="resources/ios/splash/Default-736h.png" width="1242" height="2208" />
	<gap:splash gap:platform="ios" src="resources/ios/splash/Default-Landscape-736h.png" width="2208" height="1242" />
	<gap:splash gap:platform="ios" src="resources/ios/splash/Default-Landscape@2x~ipad.png" width="2048" height="1536" />
	<gap:splash gap:platform="ios" src="resources/ios/splash/Default-Landscape~ipad.png" width="1024" height="768" />
	<gap:splash gap:platform="ios" src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" height="2048" />
	<gap:splash gap:platform="ios" src="resources/ios/splash/Default-Portrait~ipad.png" width="768" height="1024" />
	<gap:splash gap:platform="ios" src="resources/ios/splash/Default@2x~iphone.png" width="640" height="960" />
	<gap:splash gap:platform="ios" src="resources/ios/splash/Default~iphone.png" width="320" height="480" />
	<icon gap:platform="android" src="resources/android/icon/drawable-ldpi-icon.png" density="ldpi" />
	<icon gap:platform="android" src="resources/android/icon/drawable-mdpi-icon.png" density="mdpi" />
	<icon gap:platform="android" src="resources/android/icon/drawable-hdpi-icon.png" density="hdpi" />
	<icon gap:platform="android" src="resources/android/icon/drawable-xhdpi-icon.png" density="xhdpi" />
	<icon gap:platform="android" src="resources/android/icon/drawable-xxhdpi-icon.png" density="xxhdpi" />
	<icon gap:platform="android" src="resources/android/icon/drawable-xxxhdpi-icon.png" density="xxxhdpi" />
	<gap:splash gap:platform="android" src="resources/android/splash/drawable-land-ldpi-screen.png" density="land-ldpi" />
	<gap:splash gap:platform="android" src="resources/android/splash/drawable-land-mdpi-screen.png" density="land-mdpi" />
	<gap:splash gap:platform="android" src="resources/android/splash/drawable-land-hdpi-screen.png" density="land-hdpi" />
	<gap:splash gap:platform="android" src="resources/android/splash/drawable-land-xhdpi-screen.png" density="land-xhdpi" />
	<gap:splash gap:platform="android" src="resources/android/splash/drawable-land-xxhdpi-screen.png" density="land-xxhdpi" />
	<gap:splash gap:platform="android" src="resources/android/splash/drawable-land-xxxhdpi-screen.png" density="land-xxxhdpi" />
	<gap:splash gap:platform="android" src="resources/android/splash/drawable-port-ldpi-screen.png" density="port-ldpi" />
	<gap:splash gap:platform="android" src="resources/android/splash/drawable-port-mdpi-screen.png" density="port-mdpi" />
	<gap:splash gap:platform="android" src="resources/android/splash/drawable-port-hdpi-screen.png" density="port-hdpi" />
	<gap:splash gap:platform="android" src="resources/android/splash/drawable-port-xhdpi-screen.png" density="port-xhdpi" />
	<gap:splash gap:platform="android" src="resources/android/splash/drawable-port-xxhdpi-screen.png" density="port-xxhdpi" />
	<gap:splash gap:platform="android" src="resources/android/splash/drawable-port-xxxhdpi-screen.png" density="port-xxxhdpi" />
</widget>