<ion-view view-title="Teamwork Info">
    <ion-nav-title>
        <img src="img/logo.png" class="title-image" />
    </ion-nav-title>
    <ion-content>
        <div class="padding">
            <div class="white-block">
                <h1>“Us” Problem Solving Steps</h1>
                <p>The following are the Five Steps for Problem Solving.  Remember to always use these with your spouse in creating a win/win solution for the “US”.</p>
                <div class="foursteps-info">
                    <div class="foursteps-info-heading">STEP 1</div>
                    <div class="foursteps-info-answer">Commit to stay together in the process and on the solution.</div>
                </div>
                <div class="foursteps-info">
                    <div class="foursteps-info-heading">STEP 2</div>
                    <div class="foursteps-info-answer">Talk about possible solutions.</div>
                </div>
                <div class="foursteps-info">
                    <div class="foursteps-info-heading">STEP 3</div>
                    <div class="foursteps-info-answer">Pray together.</div>
                </div>
                <div class="foursteps-info">
                    <div class="foursteps-info-heading">STEP 4</div>
                    <div class="foursteps-info-answer">Pick a solution.</div>
                </div>
                <div class="foursteps-info-last">
                    <div class="foursteps-info-heading">STEP 5</div>
                    <div class="foursteps-info-answer">Be willing to choose a different solution.</div>
                </div>
            </div>
            <a ui-sref="menu.tabs.teamwork_exercise_create" class="button button-block button-positive">Continue  <i class="fa fa-chevron-circle-right"></i></a>
        </div>
    </ion-content>
</ion-view>
