<ion-view view-title="Teamwork Excercise">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="padding">
			<div class="white-block">
				<h1>Problem Solving Excercise</h1>
				<p>Use the following worksheet in solving a real life issue.  Remember to strive for a win/win.  At any time your pain is triggered, use your Four Steps before going any further.</p>
				<form name="stepsForm" novalidate="" ng-submit="save(stepsForm)">
					<div class="list list-inset">
						<label class="item item-input item-stacked-label">What's the Problem:
							<input type="text" value="" ng-model="exercise.problem" />
							<input type="text" ng-model="exercise.index" />
						</label>
					</div>
					<div class="list list-inset">
						<label class="item item-input item-stacked-label">Step 1 - Are you committed to stay together?
							<input type="text" value="" ng-model="exercise.step1" />
						</label>
					</div>
					<div class="list list-inset">
						<label class="item item-input item-stacked-label">STEP 2 - What's are possible solutions?
							<textarea ng-model="exercise.step2" ng-change="updateTextArea('create_exercise_step2')" id="create_exercise_step2"></textarea>
						</label>
					</div>
					<div class="list list-inset">
						<label class="item item-input item-stacked-label">STEP 3 - Have you prayed together?
							<input type="text" value="" ng-model="exercise.step3" />
						</label>
					</div>
					<div class="list list-inset">
						<label class="item item-input item-stacked-label">STEP 4 - What is your solution:
							<textarea ng-model="exercise.step4" ng-change="updateTextArea('create_exercise_step4')" id="create_exercise_step4"></textarea>
						</label>
					</div>
					<div class="list list-inset">
						<label class="item item-input item-stacked-label">STEP 5 - When will you revisit this decision:
							<textarea ng-model="exercise.step5" ng-change="updateTextArea('create_exercise_step5')" id="create_exercise_step5"></textarea>
						</label>
					</div>
					<button type="submit" class="button button-block">Save & Continue <i class="fa fa-chevron-circle-right"></i></button>
					<a ng-click="remove()" ng-if="exercise.index > -1" class="button button-block">Delete</a>
				</form>
			</div>
		</div>
	</ion-content>
</ion-view>