<ion-view view-title="Teamwork Excercise">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="padding">
			<div class="white-block">
				<h1>Problem Solving Results</h1>
				<div class="foursteps-results">
					<div class="foursteps-results-heading">PROBLEM</div>
					<div class="foursteps-results-answer">{{exercise.problem}}</div>
				</div>
				<div class="foursteps-results">
					<div class="foursteps-results-heading">STEP 1</div>
					<div class="foursteps-results-answer">{{exercise.step1}}</div>
				</div>
				<div class="foursteps-results">
					<div class="foursteps-results-heading">STEP 2</div>
					<div class="foursteps-results-answer">{{exercise.step2}}</div>
				</div>
				<div class="foursteps-results">
					<div class="foursteps-results-heading">STEP 3</div>
					<div class="foursteps-results-answer">{{exercise.step3}}</div>
				</div>
				<div class="foursteps-results">
					<div class="foursteps-results-heading">STEP 4</div>
					<div class="foursteps-results-answer">{{exercise.step4}}</div>
				</div>
				<div class="foursteps-results">
					<div class="foursteps-results-heading">STEP 5</div>
					<div class="foursteps-results-answer">{{exercise.step5}}</div>
				</div>
			</div>
			<a ui-sref="menu.tabs.teamwork_exercise_edit({exercise: exercise.index})" class="button button-block">Edit Steps
				<i class="fa fa-chevron-circle-right"></i>
			</a>
			<a ui-sref="menu.tabs.growth" class="button button-block">Continue to Day Five
				<i class="fa fa-chevron-circle-right"></i>
			</a>
			<a ui-sref="menu.tabs.teamwork_exercise_results" class="button button-block button-calm">View Problem Solving Archive
				<i class="fa fa-chevron-circle-right"></i>
			</a>
		</div>
	</ion-content>
</ion-view>