<ion-view view-title="4 Steps Info">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div id="conflict-choose" class="padding">
			<div class="white-block">
				<h1>My Four Steps</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia metus in enim posuere, non venenatis purus pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
				<h2>How I feel right now</h2>
				<ul class="clearfix list">
					<li ng-repeat="(label, val) in user.data.usness.pains" ng-if="val" class="4stepslist">{{label}}</li>
				</ul>
				<h2>What I do when I feel this way</h2>
				<ul class="clearfix list">
					<li ng-repeat="(label, val) in user.data.usness.copes" ng-if="val" class="4stepslist">{{label}}</li>
				</ul>
				<h2>But, the truth about me is:</h2>
				<ul class="clearfix list">
					<li ng-repeat="(label, val) in user.data.usness.truths" ng-if="val" class="4stepslist">{{label}}</li>
				</ul>
				
				<h2>So, my new action is:</h2>
				<ul class="clearfix list">
					<li ng-repeat="(label, val) in user.data.usness.actions" ng-if="val" class="4stepslist">{{label}}</li>
				</ul>
				<h1>Conflict Execrise</h1>
				<p>Think of a recent situation that caused conflict in your relationship.</p>
				<form method="post" ng-submit="process('menu.tabs.teamwork','4steps_choose')">
					<textarea ng-model="user.data.conflict_excercise"></textarea>
				</form>
				<a ng-click="clearConflict()" class="button button button-block">Start Over</a>
			</div>
			<a ng-click="process('menu.tabs.teamwork','4steps_choose')" class="button button-block button-positive">Continue to Day Four
				<i class="fa fa-chevron-circle-right"></i>
			</a>
		</div>
	</ion-content>
</ion-view>