<ion-view view-title="Peace Cycle">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="padding">
			<div class="white-block">
                <video controls="controls" poster="https://5daystoanewmarriage.com/img/thumb/preview-4_orig_hideaway_usness.jpg" width="100%">
                    <source src="http://s3cds.greyback.net/5daystoanewmarriage/2011May27/h264_orig_hideaway_usness.mp4" type="video/mp4" />
                </video>
                <h2>Watch the Peace Cycle Introduction</h2>
                <h1>Day One</h1>
				<p>Take heart.  There is more to the story than simply the pain cycle.  While it is imperative to understand the pain cycle and its roots, it is equally important to become who we were intended to become, new creations living amidst truth.  The following exercise works to identify truth and healthy, life-giving actions rather than negative coping.  This cycles is known as the peace cycle.  Use the exercise below and allow truth to heal pain and create your individual peace cycle.  
</p>
				
			</div>
            <a ui-sref="menu.tabs.peace_my_cycle" class="button button-block">Continue to My Peace Cycle <i class="fa fa-chevron-circle-right"></i></a>
		</div>
	</ion-content>
</ion-view>