<ion-view view-title="Spouse's Peace Cycle">
    <ion-nav-title>
        <img src="img/logo.png" class="title-image" />
    </ion-nav-title>
    <ion-content>
        <div class="padding">
            <div class="white-block">
                <h1><i class="fa fa-refresh"></i> Spouse's Peace Cycle</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia metus in enim posuere, non venenatis purus pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                <h2>Truths</h2>
                <ul class="clearfix cycles-peace list">
                    <li ng-repeat="truth in truthList" class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" name="pain" ng-model="user.data.usness.truths[truth]" ng-change="checkTruths(user.data.usness.truths[truth])" ng-disabled="truthCount>=4 && !user.data.usness.truths[truth]">
                        </label>{{truth}}</li>
                </ul>
                <h2>Actions</h2>
                <ul class="clearfix cyclesCopes list">
                    <li ng-repeat="action in actionList" class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" name="pain" value="TEACHING" ng-model="user.data.usness.actions[action]" ng-change="checkActions(user.data.usness.actions[action])" ng-disabled="actionCount>=4 && !user.data.usness.actions[action]">
                        </label>
                        {{action}}
                    </li>
                </ul>
            </div>
            <a ui-sref="menu.tabs.peace_our_results" class="button button-block"><i class="fa fa-refresh"></i> View Your Pain Cycle</a>
        </div>
    </ion-content>
</ion-view>
